
<!-- <warning-alert></warning-alert>
<app-success-alert></app-success-alert> 
<app-assign-two></app-assign-two>
<app-assign-three></app-assign-three>
<app-assign-four></app-assign-four>
<app-assign-five></app-assign-five>

<input type="text"
placeholder="server name (event binding)"
class="form-control"
(input)="onServerData($event)"
/>-->

<!-- <app-servers></app-servers> -->

<!--
<div class="container">
    <app-cockpit 
    (serverCreated)="onServerCreated($event)"
    (blueprintCreated)="onBlueprintCreated($event)"></app-cockpit>
    <hr>
    <app-server-element *ngFor="let element of serverElements" [srvElement]="element"></app-server-element>
  </div>


<div class="container">
  <div class="row">
    <button class="btn btn-primary" type="button" (click)="onlyOdd=!onlyOdd">Only Odd Numbers</button>
    <div *ngIf="onlyOdd">
      <li 
      *ngFor="let num of oddNumbers" 
      class="list-group-item"
      [ngClass]="{odd: num % 2 !== 0}"
      >{{num}}</li>
    </div>
    <div *ngIf="!onlyOdd">
      <li 
      *ngFor="let num of evenNumbers" 
      class="list-group-item"
      [ngClass]="{odd: num % 2 !== 0}"
      >{{num}}</li>
    </div>

    <p appBasicHighlight>Note : Odd numbers displayed</p>
    <p appBetterHighlight>Directive with renderer</p>
  </div>
</div>  -->

<!-- <app-new-account></app-new-account>
<app-account 
*ngFor="let acc of accounts; let i=index" 
[account] = "acc" 
[id]="i"></app-account> -->
<!-- ***** Recipe / shopping list project ********* -->
<app-header></app-header>
<router-outlet></router-outlet>

